In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('kc_house_data.csv')
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [3]:
y = df['price']
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [4]:
X = df.drop(columns='price')

In [5]:
X

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.3+ MB

In [7]:
X = df.to_numpy()
X

array([[7129300520, '20141013T000000', 221900.0, ..., -122.257, 1340,
        5650],
       [6414100192, '20141209T000000', 538000.0, ..., -122.319, 1690,
        7639],
       [5631500400, '20150225T000000', 180000.0, ..., -122.233, 2720,
        8062],
       ...,
       [1523300141, '20140623T000000', 402101.0, ..., -122.299, 1020,
        2007],
       [291310100, '20150116T000000', 400000.0, ..., -122.069, 1410,
        1287],
       [1523300157, '20141015T000000', 325000.0, ..., -122.299, 1020,
        1357]], dtype=object)

In [8]:
X.shape

(21613, 21)

In [9]:
y = y.to_numpy()

In [10]:
y.shape

(21613,)

<h1>OLS Regression in Matrix Form</h1>

$y = Xb+e$</b>

$ e = y - Xb$

$\sum e_i^{2} = e'e$

$e'e = (y-Xb)'(y-Xb)$
$    = y'y - 2b'X'y+b'X'Xb$<br>

$\frac{\partial e'e}{\partial b} = -2X'y + 2X'Xb=0$<br>

$\therefore (X'X)b=X'y$ <br>

$\therefore b = (X'X)^{-1}X'y$

In [11]:
#b = np.linalg.inv(X.T @ X) @ X.T @ y

###  In this Method Size of data Matter(Dead Kernel)

# Trying With New Data Sets

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('Real estate.csv')
df.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [14]:
df=df.drop(columns='No')

In [15]:
df.mean()

X1 transaction date                       2013.148971
X2 house age                                17.712560
X3 distance to the nearest MRT station    1083.885689
X4 number of convenience stores              4.094203
X5 latitude                                 24.969030
X6 longitude                               121.533361
Y house price of unit area                  37.980193
dtype: float64

In [16]:
df = df - df.mean()

In [17]:
df.mean()

X1 transaction date                       1.043502e-13
X2 house age                             -9.267949e-16
X3 distance to the nearest MRT station   -1.362045e-13
X4 number of convenience stores           4.290717e-18
X5 latitude                               1.664798e-15
X6 longitude                             -2.474886e-14
Y house price of unit area                1.270052e-15
dtype: float64

In [18]:
new_col = 1
df.insert(loc=0, column='New', value=new_col)
df.head(20)

,New,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,-0.231971,14.28744,-999.006869,5.905797,0.01395,0.006879,-0.080193
1,1,-0.231971,1.78744,-777.290989,4.905797,0.01131,0.006149,4.219807
2,1,0.434029,-4.41256,-521.901189,0.905797,0.01843,0.010549,9.319807
3,1,0.351029,-4.41256,-521.901189,0.905797,0.01843,0.010549,16.819807
4,1,-0.315971,-12.71256,-693.317289,0.905797,0.01034,0.009089,5.119807
5,1,-0.481971,-10.61256,1091.144311,-1.094203,-0.00598,-0.020821,-5.880193
6,1,-0.481971,16.78744,-460.412589,2.905797,0.01030,0.003059,2.319807
7,1,0.268029,2.58744,-796.283189,1.905797,0.01139,0.008919,8.719807
8,1,0.351029,13.98744,4428.152311,-3.094203,-0.01808,-0.048781,-19.180193
9,1,0.268029,0.18744,699.294311,-1.094203,-0.00172,-0.018501,-15.880193
10,1,-0.065971,17.08744,-678.672289,-3.094203,0.00446,0.000359,3.419807
11,1,0.184029,-11.41256,-993.429629,4.905797,0.00530,0.009739,20.119807
12,1,-0.231971,-4.71256,-591.654389,0.905797,-0.00388,0.004009,1.319807
13,1,-0.481971,2.68744,1385.759311,-0.094203,-0.00795,-0.022901,-14.180193
14,1,0.351029,-4.51256,80.952311,-0.094203,0.02253,0.000699,-3.680193
15,1,0.434029,17.98744,-504.677389,-2.094203,0.01337,0.012829,12.519807
16,1,0.101029,-17.71256,-790.887889,1.905797,0.00841,0.011219,32.119807
17,1,-0.398971,-0.01256,-733.034189,-3.094203,0.00641,-0.002171,-0.580193
18,1,0.268029,-0.81256,-715.749389,3.905797,-0.00153,0.011149,4.319807
19,1,-0.481971,-16.21256,-1060.502849,2.905797,-0.00131,0.007659,9.719807

In [19]:
y = df['Y house price of unit area']

In [20]:
y

0      -0.080193
1       4.219807
2       9.319807
3      16.819807
4       5.119807
         ...
409   -22.580193
410    12.019807
411     2.619807
412    14.519807
413    25.919807
Name: Y house price of unit area, Length: 414, dtype: float64

In [21]:
y = y.to_numpy()

In [22]:
y.shape

(414,)

In [23]:
y.T

array([ -0.08019324,   4.21980676,   9.31980676,  16.81980676,
         5.11980676,  -5.88019324,   2.31980676,   8.71980676,
       -19.18019324, -15.88019324,   3.41980676,  20.11980676,
         1.31980676, -14.18019324,  -3.68019324,  12.51980676,
        32.11980676,  -0.58019324,   4.31980676,   9.71980676,
        -8.68019324,  13.61980676, -13.38019324,   9.91980676,
         0.81980676, -10.98019324,  18.21980676,  -4.38019324,
         9.01980676,  19.11980676, -15.88019324, -12.98019324,
        -3.78019324,  11.31980676,  17.11980676, -10.68019324,
       -15.08019324, -12.68019324,   9.71980676,   8.21980676,
       -22.08019324, -19.78019324,  -3.28019324,  -3.88019324,
        15.91980676,   0.31980676,   4.01980676,  23.51980676,
       -24.58019324, -24.78019324,   6.21980676, -17.28019324,
       -10.98019324,   0.91980676,  13.71980676, -24.28019324,
         3.91980676,  15.51980676, -15.38019324,   4.41980676,
       -16.68019324,  25.21980676, -10.28019324,  17.01980676,
       -12.68019324,   6.31980676,  12.71980676,  18.81980676,
        -1.78019324,   4.01980676,  21.01980676,   2.81980676,
        -1.68019324, -17.98019324,  16.41980676,  -8.48019324,
        -1.18019324, -12.38019324,  -8.18019324, -11.48019324,
         2.31980676,  -1.18019324,  10.11980676, -20.28019324,
         5.71980676,  12.81980676, -10.98019324, -19.68019324,
        10.01980676, -12.68019324,   7.41980676,   5.21980676,
       -16.18019324, -21.88019324,   3.01980676,  13.81980676,
        21.51980676,  -3.38019324,  13.01980676,  24.21980676,
         0.21980676,  -5.08019324,  16.41980676,   7.71980676,
        -7.48019324,  33.01980676,   9.11980676, -11.38019324,
        -3.88019324,  -9.58019324,  13.61980676,   1.41980676,
       -14.88019324, -30.38019324,  15.31980676,   8.41980676,
       -25.78019324, -24.98019324,  -7.38019324,  21.61980676,
        -6.68019324,  10.01980676,  -5.48019324,   7.51980676,
        19.41980676,  10.61980676,  24.91980676,  17.01980676,
        22.71980676,   3.01980676,  -0.48019324,  -7.28019324,
        -0.48019324,   1.51980676,   4.21980676, -17.18019324,
         8.81980676,   9.41980676,   5.51980676,   4.51980676,
        13.41980676,  -9.08019324,  -0.48019324,   2.11980676,
        -9.58019324,   7.51980676,  14.21980676,   5.21980676,
         7.11980676,   1.71980676,  10.51980676,   6.71980676,
        -9.08019324,   2.91980676, -17.28019324, -22.38019324,
       -19.68019324,  -2.38019324,   1.41980676,  -0.58019324,
        19.81980676,   1.61980676, -26.38019324,  17.51980676,
        17.21980676,  -7.38019324,  35.61980676,   5.41980676,
        -0.58019324, -14.48019324, -23.58019324,  20.81980676,
        20.11980676,  -2.88019324,   7.21980676,  -1.48019324,
       -18.78019324,   4.01980676,  -1.28019324,   4.61980676,
       -22.48019324,  17.91980676, -14.38019324, -19.18019324,
       -16.18019324, -16.48019324, -12.28019324, -15.98019324,
         6.31980676, -17.48019324,   4.31980676,  -0.18019324,
         4.71980676,  11.31980676,  -8.68019324,  -3.38019324,
        -1.38019324,  10.21980676,   1.11980676,  -6.38019324,
       -12.48019324,   7.91980676,  -6.48019324,   8.11980676,
       -11.38019324, -16.58019324,   6.01980676,  -3.78019324,
       -11.78019324,   2.91980676,  14.21980676,   5.51980676,
        -6.88019324,  20.01980676, -17.08019324,  10.11980676,
         1.71980676,   2.81980676,   5.81980676,   2.21980676,
        40.31980676,   0.51980676,  10.51980676,   4.31980676,
         8.01980676,  11.01980676, -25.18019324,   2.21980676,
         8.61980676, -18.98019324,  -4.58019324, -23.28019324,
       -20.58019324,  -5.58019324, -14.08019324,   1.31980676,
        23.91980676,   1.01980676,   2.61980676,  -8.28019324,
        -9.18019324,   3.41980676,  -4.58019324,  10.21980676,
       -16.28019324,   2.81980676,   2.61980676, -14.88019324,
       -15.68019324, -22.98019324,  -7.98019324, -24.18019324,
        14.71980676, -12.08019324,  13.81980676, -20.58019324,
       -11.48019324,   5.91980676,  25.31980676,  -9.18019324,
        -7.28019324, -13.58019324,  15.01980676,  -6.28019324,
         2.61980676,   0.11980676, -14.28019324,   3.11980676,
         2.11980676, -14.98019324,  79.51980676, -11.48019324,
         2.51980676,  -8.68019324,   3.01980676,  11.71980676,
        -3.98019324, -10.28019324,   6.01980676,  -6.88019324,
         7.41980676,   6.81980676, -12.38019324, -14.48019324,
        -3.58019324,  17.31980676,  18.31980676,  -5.08019324,
        13.01980676,   6.51980676,  -0.98019324,  16.41980676,
       -13.48019324,   4.51980676,   0.11980676, -16.18019324,
        -3.88019324,  -9.48019324, -21.28019324,   8.11980676,
        -1.08019324,  -2.28019324, -14.78019324,   0.41980676,
        -8.58019324,  17.01980676,  12.21980676, -13.28019324,
        15.01980676, -18.88019324, -13.28019324,   4.21980676,
        40.01980676,   4.81980676,   3.61980676, -10.68019324,
         4.01980676,  -0.48019324,  11.81980676, -11.08019324,
       -19.38019324,  -0.28019324,  -4.88019324,   4.51980676,
        -6.68019324,   0.11980676,  24.11980676,  -1.28019324,
       -14.38019324, -18.78019324, -25.18019324, -22.38019324,
         1.61980676,   0.41980676, -15.18019324,  -1.48019324,
        -2.38019324,  -7.08019324,  -1.68019324,  12.41980676,
         4.91980676,  -0.98019324,  15.51980676,   8.61980676,
         3.21980676,  -0.08019324,  -7.18019324, -26.78019324,
        15.71980676,   9.01980676,   4.31980676,  -9.38019324,
       -12.28019324,  -6.68019324,  -7.88019324,  22.71980676,
         7.31980676,   6.91980676,   7.11980676, -13.28019324,
         9.11980676,  25.31980676,   2.01980676,  10.01980676,
        -4.88019324,  -8.48019324, -13.18019324, -17.08019324,
         5.11980676, -15.18019324,   4.11980676,  13.71980676,
         3.51980676,  14.21980676,  11.51980676, -14.18019324,
        -7.48019324,  18.81980676,  -0.58019324,  31.71980676,
        15.31980676,   9.31980676,  -8.68019324,   2.31980676,
       -25.08019324,   8.61980676,  17.31980676, -12.38019324,
       -10.68019324,  29.71980676,   0.61980676,  -6.68019324,
        -2.68019324,   2.31980676, -13.28019324,   4.51980676,
        -6.08019324,  -5.78019324, -14.98019324,  -0.68019324,
        -2.48019324, -10.28019324,  -9.48019324,   1.71980676,
         3.21980676,  -0.78019324,   2.51980676, -15.68019324,
        -9.88019324, -22.58019324,  12.01980676,   2.61980676,
        14.51980676,  25.91980676])

In [24]:
X = df.drop(columns='Y house price of unit area')

In [25]:
X = X.to_numpy()

In [26]:
X.shape

(414, 7)

In [27]:
b = np.linalg.inv(X.T @ X) @ X.T @ y

In [28]:
b

array([-1.21916366e-12,  5.14622746e+00, -2.69695448e-01, -4.48746107e-03,
        1.13327690e+00,  2.25472976e+02, -1.24236012e+01])

In [29]:
predict = X[44]@b.T
predict

9.69014169678615

In [30]:
df.loc[44]

New                                         1.000000
X1 transaction date                         0.434029
X2 house age                              -15.012560
X3 distance to the nearest MRT station   -550.409489
X4 number of convenience stores            -0.094203
X5 latitude                                 0.005420
X6 longitude                                0.014289
Y house price of unit area                 15.919807
Name: 44, dtype: float64

# Testing With Dummy Data

In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_excel('mlr07.xls', engine='xlrd')
df.head(10)

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

     X1   X2    X3    X4   X5
0   8.0   78   284   9.1  109
1   9.3   68   433   8.7  144
2   7.5   70   739   7.2  113
3   8.9   96  1792   8.9   97
4  10.2   74   477   8.3  206
5   8.3  111   362  10.9  124
6   8.8   77   671  10.0  152
7   8.8  168   636   9.1  162
8  10.7   82   329   8.7  150
9  11.7   89   634   7.6  134

In [46]:
df = df - df.mean()

In [47]:
df

          X1         X2           X3        X4          X5
0  -1.305660  -38.09434  -305.792453 -0.335849   -1.641509
1  -0.005660  -48.09434  -156.792453 -0.735849   33.358491
2  -1.805660  -46.09434   149.207547 -2.235849    2.358491
3  -0.405661  -20.09434  1202.207547 -0.535849  -13.641509
4   0.894339  -42.09434  -112.792453 -1.135849   95.358491
5  -1.005660   -5.09434  -227.792453  1.464151   13.358491
6  -0.505660  -39.09434    81.207547  0.564151   41.358491
7  -0.505660   51.90566    46.207547 -0.335849   51.358491
8   1.394339  -34.09434  -260.792453 -0.735849   39.358491
9   2.394339  -27.09434    44.207547 -1.835849   23.358491
10 -0.805660   32.90566    41.207547  1.364151  181.358491
11 -1.005660  -56.09434  -332.792453  0.064151   -2.641509
12 -1.105661  -20.09434  -305.792453 -0.635849    0.358491
13 -1.405660  -33.09434    13.207547  0.064151   71.358491
14  0.994340   13.90566    96.207547 -0.735849   18.358491
15 -1.905660   28.90566  -244.792453  1.764151   47.358491
16  0.294340   -4.09434   767.207547  0.264151   75.358491
17 -0.005660   14.90566   -45.792453  0.164151   66.358491
18  1.294340  -36.09434  -384.792453 -0.335849   16.358491
19  0.394339   13.90566   674.207547 -0.235849   68.358491
20  2.294340   23.90566    98.207547 -1.135849  -30.641509
21 -1.205660   37.90566  -235.792453 -1.035849   -7.641509
22  0.494340    1.90566  1042.207547 -0.035849   -9.641509
23 -1.905660  -22.09434  -241.792453  0.364151    6.358491
24  0.094339    2.90566  -219.792453  0.964151  -22.641509
25  1.894339   36.90566    58.207547  0.464151  -32.641509
26 -0.205660   -0.09434  -223.792453 -0.235849   -8.641509
27  1.194340  -19.09434   -49.792453  0.864151  -15.641509
28  2.594339   59.90566    90.207547 -0.535849  -30.641509
29 -0.905661  -41.09434  -244.792453  0.164151  -18.641509
30 -4.305660   17.90566   -64.792453  0.864151   15.358491
31  0.494340   44.90566   280.207547  0.964151   -2.641509
32  0.494340   -5.09434    79.207547  0.264151  -33.641509
33  1.494340   -2.09434  -137.792453  0.164151  -50.641509
34  0.794340   25.90566  -159.792453  1.264151  -39.641509
35  1.594339  121.90566   232.207547  0.864151  -24.641509
36 -0.105661  -38.09434  -399.792453  1.264151  -17.641509
37 -1.005660   79.90566   277.207547  0.164151   -4.641509
38 -2.005660    8.90566   379.207547  1.064151   51.358491
39  0.094339  -34.09434   -90.792453 -1.735849  -15.641509
40  0.094339    8.90566   335.207547  0.764151  -19.641509
41  0.494340   12.90566  -236.792453  0.464151  -58.641509
42 -5.705661  -32.09434  -301.792453 -1.035849   -0.641509
43 -0.905661   66.90566   128.207547  0.964151  -41.641509
44  1.494340    2.90566   -49.792453 -0.235849  -53.641509
45  0.794340   63.90566    78.207547  3.564151   -4.641509
46 -0.305660  -34.09434  -242.792453 -0.635849  -70.641509
47  0.694340  -45.09434  -244.792453 -0.235849  -60.641509
48  1.994340    1.90566  -126.792453 -1.635849  -75.641509
49  1.994340    4.90566   138.207547 -1.235849  -24.641509
50  3.494340  -48.09434  -206.792453 -2.035849  -53.641509
51  0.694340   -4.09434  -273.792453  0.964151  -53.641509
52 -2.605661   -7.09434  -201.792453 -0.535849  -16.641509

In [48]:
y = df['X1']
y.head(10)

0   -1.305660
1   -0.005660
2   -1.805660
3   -0.405661
4    0.894339
5   -1.005660
6   -0.505660
7   -0.505660
8    1.394339
9    2.394339
Name: X1, dtype: float64

In [49]:
X = df.drop(columns='X1')
X.head(10)

         X2           X3        X4         X5
0 -38.09434  -305.792453 -0.335849  -1.641509
1 -48.09434  -156.792453 -0.735849  33.358491
2 -46.09434   149.207547 -2.235849   2.358491
3 -20.09434  1202.207547 -0.535849 -13.641509
4 -42.09434  -112.792453 -1.135849  95.358491
5  -5.09434  -227.792453  1.464151  13.358491
6 -39.09434    81.207547  0.564151  41.358491
7  51.90566    46.207547 -0.335849  51.358491
8 -34.09434  -260.792453 -0.735849  39.358491
9 -27.09434    44.207547 -1.835849  23.358491

In [50]:
new_col = 1
X.insert(loc=0, column='New', value=new_col)
X.head(20)

    New        X2           X3        X4          X5
0     1 -38.09434  -305.792453 -0.335849   -1.641509
1     1 -48.09434  -156.792453 -0.735849   33.358491
2     1 -46.09434   149.207547 -2.235849    2.358491
3     1 -20.09434  1202.207547 -0.535849  -13.641509
4     1 -42.09434  -112.792453 -1.135849   95.358491
5     1  -5.09434  -227.792453  1.464151   13.358491
6     1 -39.09434    81.207547  0.564151   41.358491
7     1  51.90566    46.207547 -0.335849   51.358491
8     1 -34.09434  -260.792453 -0.735849   39.358491
9     1 -27.09434    44.207547 -1.835849   23.358491
10    1  32.90566    41.207547  1.364151  181.358491
11    1 -56.09434  -332.792453  0.064151   -2.641509
12    1 -20.09434  -305.792453 -0.635849    0.358491
13    1 -33.09434    13.207547  0.064151   71.358491
14    1  13.90566    96.207547 -0.735849   18.358491
15    1  28.90566  -244.792453  1.764151   47.358491
16    1  -4.09434   767.207547  0.264151   75.358491
17    1  14.90566   -45.792453  0.164151   66.358491
18    1 -36.09434  -384.792453 -0.335849   16.358491
19    1  13.90566   674.207547 -0.235849   68.358491

In [51]:
y = y.to_numpy()
y

array([-1.30566041e+00, -5.66021872e-03, -1.80566041e+00, -4.05660791e-01,
        8.94339400e-01, -1.00566022e+00, -5.05660219e-01, -5.05660219e-01,
        1.39433940e+00,  2.39433940e+00, -8.05660410e-01, -1.00566022e+00,
       -1.10566060e+00, -1.40566031e+00,  9.94339780e-01, -1.90566031e+00,
        2.94339971e-01, -5.66021872e-03,  1.29433997e+00,  3.94339399e-01,
        2.29433997e+00, -1.20566003e+00,  4.94339781e-01, -1.90566031e+00,
        9.43392093e-02,  1.89433940e+00, -2.05660029e-01,  1.19433959e+00,
        2.59433921e+00, -9.05660791e-01, -4.30566041e+00,  4.94339781e-01,
        4.94339781e-01,  1.49433978e+00,  7.94339970e-01,  1.59433921e+00,
       -1.05660601e-01, -1.00566022e+00, -2.00566022e+00,  9.43392093e-02,
        9.43392093e-02,  4.94339781e-01, -5.70566050e+00, -9.05660791e-01,
        1.49433978e+00,  7.94339970e-01, -3.05660410e-01,  6.94339590e-01,
        1.99433978e+00,  1.99433978e+00,  3.49433978e+00,  6.94339590e-01,
       -2.60566060e+00])

In [52]:
X = X.to_numpy()

In [53]:
X

array([[ 1.00000000e+00, -3.80943396e+01, -3.05792453e+02,
        -3.35848611e-01, -1.64150943e+00],
       [ 1.00000000e+00, -4.80943396e+01, -1.56792453e+02,
        -7.35849183e-01,  3.33584906e+01],
       [ 1.00000000e+00, -4.60943396e+01,  1.49207547e+02,
        -2.23584918e+00,  2.35849057e+00],
       [ 1.00000000e+00, -2.00943396e+01,  1.20220755e+03,
        -5.35849373e-01, -1.36415094e+01],
       [ 1.00000000e+00, -4.20943396e+01, -1.12792453e+02,
        -1.13584880e+00,  9.53584906e+01],
       [ 1.00000000e+00, -5.09433962e+00, -2.27792453e+02,
         1.46415063e+00,  1.33584906e+01],
       [ 1.00000000e+00, -3.90943396e+01,  8.12075472e+01,
         5.64151008e-01,  4.13584906e+01],
       [ 1.00000000e+00,  5.19056604e+01,  4.62075472e+01,
        -3.35848611e-01,  5.13584906e+01],
       [ 1.00000000e+00, -3.40943396e+01, -2.60792453e+02,
        -7.35849183e-01,  3.93584906e+01],
       [ 1.00000000e+00, -2.70943396e+01,  4.42075472e+01,
        -1.83584909e+00,  2.33584906e+01],
       [ 1.00000000e+00,  3.29056604e+01,  4.12075472e+01,
         1.36415120e+00,  1.81358491e+02],
       [ 1.00000000e+00, -5.60943396e+01, -3.32792453e+02,
         6.41510081e-02, -2.64150943e+00],
       [ 1.00000000e+00, -2.00943396e+01, -3.05792453e+02,
        -6.35848801e-01,  3.58490566e-01],
       [ 1.00000000e+00, -3.30943396e+01,  1.32075472e+01,
         6.41510081e-02,  7.13584906e+01],
       [ 1.00000000e+00,  1.39056604e+01,  9.62075472e+01,
        -7.35849183e-01,  1.83584906e+01],
       [ 1.00000000e+00,  2.89056604e+01, -2.44792453e+02,
         1.76415082e+00,  4.73584906e+01],
       [ 1.00000000e+00, -4.09433962e+00,  7.67207547e+02,
         2.64150817e-01,  7.53584906e+01],
       [ 1.00000000e+00,  1.49056604e+01, -4.57924528e+01,
         1.64151389e-01,  6.63584906e+01],
       [ 1.00000000e+00, -3.60943396e+01, -3.84792453e+02,
        -3.35848611e-01,  1.63584906e+01],
       [ 1.00000000e+00,  1.39056604e+01,  6.74207547e+02,
        -2.35849183e-01,  6.83584906e+01],
       [ 1.00000000e+00,  2.39056604e+01,  9.82075472e+01,
        -1.13584880e+00, -3.06415094e+01],
       [ 1.00000000e+00,  3.79056604e+01, -2.35792453e+02,
        -1.03584937e+00, -7.64150943e+00],
       [ 1.00000000e+00,  1.90566038e+00,  1.04220755e+03,
        -3.58493729e-02, -9.64150943e+00],
       [ 1.00000000e+00, -2.20943396e+01, -2.41792453e+02,
         3.64151199e-01,  6.35849057e+00],
       [ 1.00000000e+00,  2.90566038e+00, -2.19792453e+02,
         9.64150628e-01, -2.26415094e+01],
       [ 1.00000000e+00,  3.69056604e+01,  5.82075472e+01,
         4.64150627e-01, -3.26415094e+01],
       [ 1.00000000e+00, -9.43396226e-02, -2.23792453e+02,
        -2.35849183e-01, -8.64150943e+00],
       [ 1.00000000e+00, -1.90943396e+01, -4.97924528e+01,
         8.64151198e-01, -1.56415094e+01],
       [ 1.00000000e+00,  5.99056604e+01,  9.02075472e+01,
        -5.35849373e-01, -3.06415094e+01],
       [ 1.00000000e+00, -4.10943396e+01, -2.44792453e+02,
         1.64151389e-01, -1.86415094e+01],
       [ 1.00000000e+00,  1.79056604e+01, -6.47924528e+01,
         8.64151198e-01,  1.53584906e+01],
       [ 1.00000000e+00,  4.49056604e+01,  2.80207547e+02,
         9.64150628e-01, -2.64150943e+00],
       [ 1.00000000e+00, -5.09433962e+00,  7.92075472e+01,
         2.64150817e-01, -3.36415094e+01],
       [ 1.00000000e+00, -2.09433962e+00, -1.37792453e+02,
         1.64151389e-01, -5.06415094e+01],
       [ 1.00000000e+00,  2.59056604e+01, -1.59792453e+02,
         1.26415082e+00, -3.96415094e+01],
       [ 1.00000000e+00,  1.21905660e+02,  2.32207547e+02,
         8.64151198e-01, -2.46415094e+01],
       [ 1.00000000e+00, -3.80943396e+01, -3.99792453e+02,
         1.26415082e+00, -1.76415094e+01],
       [ 1.00000000e+00,  7.99056604e+01,  2.77207547e+02,
         1.64151389e-01, -4.64150943e+00],
       [ 1.00000000e+00,  8.90566038e+00,  3.79207547e+02,
         1.06415101e+00,  5.13584906e+01],
       [ 1.00000000e+00, -3.40943396e+01, -9.07924528e+01,
        -1.73584918e+00, -1.56415094e+01],
       [ 1.00000000e+00,  8.90566038e+00,  3.35207547e+02,
         7.64150818e-01, -1.96415094e+01],
       [ 1.00000000e+00,  1.29056604e+01, -2.36792453e+02,
         4.64150627e-01, -5.86415094e+01],
       [ 1.00000000e+00, -3.20943396e+01, -3.01792453e+02,
        -1.03584937e+00, -6.41509434e-01],
       [ 1.00000000e+00,  6.69056604e+01,  1.28207547e+02,
         9.64150628e-01, -4.16415094e+01],
       [ 1.00000000e+00,  2.90566038e+00, -4.97924528e+01,
        -2.35849183e-01, -5.36415094e+01],
       [ 1.00000000e+00,  6.39056604e+01,  7.82075472e+01,
         3.56415101e+00, -4.64150943e+00],
       [ 1.00000000e+00, -3.40943396e+01, -2.42792453e+02,
        -6.35848801e-01, -7.06415094e+01],
       [ 1.00000000e+00, -4.50943396e+01, -2.44792453e+02,
        -2.35849183e-01, -6.06415094e+01],
       [ 1.00000000e+00,  1.90566038e+00, -1.26792453e+02,
        -1.63584880e+00, -7.56415094e+01],
       [ 1.00000000e+00,  4.90566038e+00,  1.38207547e+02,
        -1.23584918e+00, -2.46415094e+01],
       [ 1.00000000e+00, -4.80943396e+01, -2.06792453e+02,
        -2.03584890e+00, -5.36415094e+01],
       [ 1.00000000e+00, -4.09433962e+00, -2.73792453e+02,
         9.64150628e-01, -5.36415094e+01],
       [ 1.00000000e+00, -7.09433962e+00, -2.01792453e+02,
        -5.35849373e-01, -1.66415094e+01]])

In [54]:
b = np.linalg.inv(X.T @ X) @ X.T @ y
b

array([-4.39051160e-16,  7.39161503e-03,  5.83715656e-04, -3.30230237e-01,
       -9.46288488e-03])

In [55]:
predict = X[44]@b.T
predict

0.5779008484531195

In [56]:
df.loc[44]

X1     1.494340
X2     2.905660
X3   -49.792453
X4    -0.235849
X5   -53.641509
Name: 44, dtype: float64