In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Real estate.csv')
df.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [13]:
df=df.drop(columns='No')
df

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [15]:
df.mean()

X1 transaction date                       2013.148971
X2 house age                                17.712560
X3 distance to the nearest MRT station    1083.885689
X4 number of convenience stores              4.094203
X5 latitude                                 24.969030
X6 longitude                               121.533361
Y house price of unit area                  37.980193
dtype: float64

In [16]:
df = df - df.mean()

In [17]:
df.head(10)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,-0.231971,14.28744,-999.006869,5.905797,0.01395,0.006879,-0.080193
1,-0.231971,1.78744,-777.290989,4.905797,0.01131,0.006149,4.219807
2,0.434029,-4.41256,-521.901189,0.905797,0.01843,0.010549,9.319807
3,0.351029,-4.41256,-521.901189,0.905797,0.01843,0.010549,16.819807
4,-0.315971,-12.71256,-693.317289,0.905797,0.01034,0.009089,5.119807
5,-0.481971,-10.61256,1091.144311,-1.094203,-0.00598,-0.020821,-5.880193
6,-0.481971,16.78744,-460.412589,2.905797,0.01030,0.003059,2.319807
7,0.268029,2.58744,-796.283189,1.905797,0.01139,0.008919,8.719807
8,0.351029,13.98744,4428.152311,-3.094203,-0.01808,-0.048781,-19.180193
9,0.268029,0.18744,699.294311,-1.094203,-0.00172,-0.018501,-15.880193

In [18]:
df.mean()

X1 transaction date                       1.043502e-13
X2 house age                             -9.267949e-16
X3 distance to the nearest MRT station   -1.362045e-13
X4 number of convenience stores           4.290717e-18
X5 latitude                               1.664798e-15
X6 longitude                             -2.474886e-14
Y house price of unit area                1.270052e-15
dtype: float64

In [19]:
new_col = 1
df.insert(loc=0, column='New', value=new_col)
df.head(20)

,New,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,-0.231971,14.28744,-999.006869,5.905797,0.01395,0.006879,-0.080193
1,1,-0.231971,1.78744,-777.290989,4.905797,0.01131,0.006149,4.219807
2,1,0.434029,-4.41256,-521.901189,0.905797,0.01843,0.010549,9.319807
3,1,0.351029,-4.41256,-521.901189,0.905797,0.01843,0.010549,16.819807
4,1,-0.315971,-12.71256,-693.317289,0.905797,0.01034,0.009089,5.119807
5,1,-0.481971,-10.61256,1091.144311,-1.094203,-0.00598,-0.020821,-5.880193
6,1,-0.481971,16.78744,-460.412589,2.905797,0.01030,0.003059,2.319807
7,1,0.268029,2.58744,-796.283189,1.905797,0.01139,0.008919,8.719807
8,1,0.351029,13.98744,4428.152311,-3.094203,-0.01808,-0.048781,-19.180193
9,1,0.268029,0.18744,699.294311,-1.094203,-0.00172,-0.018501,-15.880193
10,1,-0.065971,17.08744,-678.672289,-3.094203,0.00446,0.000359,3.419807
11,1,0.184029,-11.41256,-993.429629,4.905797,0.00530,0.009739,20.119807
12,1,-0.231971,-4.71256,-591.654389,0.905797,-0.00388,0.004009,1.319807
13,1,-0.481971,2.68744,1385.759311,-0.094203,-0.00795,-0.022901,-14.180193
14,1,0.351029,-4.51256,80.952311,-0.094203,0.02253,0.000699,-3.680193
15,1,0.434029,17.98744,-504.677389,-2.094203,0.01337,0.012829,12.519807
16,1,0.101029,-17.71256,-790.887889,1.905797,0.00841,0.011219,32.119807
17,1,-0.398971,-0.01256,-733.034189,-3.094203,0.00641,-0.002171,-0.580193
18,1,0.268029,-0.81256,-715.749389,3.905797,-0.00153,0.011149,4.319807
19,1,-0.481971,-16.21256,-1060.502849,2.905797,-0.00131,0.007659,9.719807

In [20]:
y = df['Y house price of unit area']
y

0      -0.080193
1       4.219807
2       9.319807
3      16.819807
4       5.119807
         ...
409   -22.580193
410    12.019807
411     2.619807
412    14.519807
413    25.919807
Name: Y house price of unit area, Length: 414, dtype: float64

In [21]:
X = df.drop(columns='Y house price of unit area')
X.shape

(414, 7)

In [22]:
y = y.to_numpy()

In [23]:
y.shape

(414,)

In [24]:
y.T

array([ -0.08019324,   4.21980676,   9.31980676,  16.81980676,
         5.11980676,  -5.88019324,   2.31980676,   8.71980676,
       -19.18019324, -15.88019324,   3.41980676,  20.11980676,
         1.31980676, -14.18019324,  -3.68019324,  12.51980676,
        32.11980676,  -0.58019324,   4.31980676,   9.71980676,
        -8.68019324,  13.61980676, -13.38019324,   9.91980676,
         0.81980676, -10.98019324,  18.21980676,  -4.38019324,
         9.01980676,  19.11980676, -15.88019324, -12.98019324,
        -3.78019324,  11.31980676,  17.11980676, -10.68019324,
       -15.08019324, -12.68019324,   9.71980676,   8.21980676,
       -22.08019324, -19.78019324,  -3.28019324,  -3.88019324,
        15.91980676,   0.31980676,   4.01980676,  23.51980676,
       -24.58019324, -24.78019324,   6.21980676, -17.28019324,
       -10.98019324,   0.91980676,  13.71980676, -24.28019324,
         3.91980676,  15.51980676, -15.38019324,   4.41980676,
       -16.68019324,  25.21980676, -10.28019324,  17.01980676,
       -12.68019324,   6.31980676,  12.71980676,  18.81980676,
        -1.78019324,   4.01980676,  21.01980676,   2.81980676,
        -1.68019324, -17.98019324,  16.41980676,  -8.48019324,
        -1.18019324, -12.38019324,  -8.18019324, -11.48019324,
         2.31980676,  -1.18019324,  10.11980676, -20.28019324,
         5.71980676,  12.81980676, -10.98019324, -19.68019324,
        10.01980676, -12.68019324,   7.41980676,   5.21980676,
       -16.18019324, -21.88019324,   3.01980676,  13.81980676,
        21.51980676,  -3.38019324,  13.01980676,  24.21980676,
         0.21980676,  -5.08019324,  16.41980676,   7.71980676,
        -7.48019324,  33.01980676,   9.11980676, -11.38019324,
        -3.88019324,  -9.58019324,  13.61980676,   1.41980676,
       -14.88019324, -30.38019324,  15.31980676,   8.41980676,
       -25.78019324, -24.98019324,  -7.38019324,  21.61980676,
        -6.68019324,  10.01980676,  -5.48019324,   7.51980676,
        19.41980676,  10.61980676,  24.91980676,  17.01980676,
        22.71980676,   3.01980676,  -0.48019324,  -7.28019324,
        -0.48019324,   1.51980676,   4.21980676, -17.18019324,
         8.81980676,   9.41980676,   5.51980676,   4.51980676,
        13.41980676,  -9.08019324,  -0.48019324,   2.11980676,
        -9.58019324,   7.51980676,  14.21980676,   5.21980676,
         7.11980676,   1.71980676,  10.51980676,   6.71980676,
        -9.08019324,   2.91980676, -17.28019324, -22.38019324,
       -19.68019324,  -2.38019324,   1.41980676,  -0.58019324,
        19.81980676,   1.61980676, -26.38019324,  17.51980676,
        17.21980676,  -7.38019324,  35.61980676,   5.41980676,
        -0.58019324, -14.48019324, -23.58019324,  20.81980676,
        20.11980676,  -2.88019324,   7.21980676,  -1.48019324,
       -18.78019324,   4.01980676,  -1.28019324,   4.61980676,
       -22.48019324,  17.91980676, -14.38019324, -19.18019324,
       -16.18019324, -16.48019324, -12.28019324, -15.98019324,
         6.31980676, -17.48019324,   4.31980676,  -0.18019324,
         4.71980676,  11.31980676,  -8.68019324,  -3.38019324,
        -1.38019324,  10.21980676,   1.11980676,  -6.38019324,
       -12.48019324,   7.91980676,  -6.48019324,   8.11980676,
       -11.38019324, -16.58019324,   6.01980676,  -3.78019324,
       -11.78019324,   2.91980676,  14.21980676,   5.51980676,
        -6.88019324,  20.01980676, -17.08019324,  10.11980676,
         1.71980676,   2.81980676,   5.81980676,   2.21980676,
        40.31980676,   0.51980676,  10.51980676,   4.31980676,
         8.01980676,  11.01980676, -25.18019324,   2.21980676,
         8.61980676, -18.98019324,  -4.58019324, -23.28019324,
       -20.58019324,  -5.58019324, -14.08019324,   1.31980676,
        23.91980676,   1.01980676,   2.61980676,  -8.28019324,
        -9.18019324,   3.41980676,  -4.58019324,  10.21980676,
       -16.28019324,   2.81980676,   2.61980676, -14.88019324,
       -15.68019324, -22.98019324,  -7.98019324, -24.18019324,
        14.71980676, -12.08019324,  13.81980676, -20.58019324,
       -11.48019324,   5.91980676,  25.31980676,  -9.18019324,
        -7.28019324, -13.58019324,  15.01980676,  -6.28019324,
         2.61980676,   0.11980676, -14.28019324,   3.11980676,
         2.11980676, -14.98019324,  79.51980676, -11.48019324,
         2.51980676,  -8.68019324,   3.01980676,  11.71980676,
        -3.98019324, -10.28019324,   6.01980676,  -6.88019324,
         7.41980676,   6.81980676, -12.38019324, -14.48019324,
        -3.58019324,  17.31980676,  18.31980676,  -5.08019324,
        13.01980676,   6.51980676,  -0.98019324,  16.41980676,
       -13.48019324,   4.51980676,   0.11980676, -16.18019324,
        -3.88019324,  -9.48019324, -21.28019324,   8.11980676,
        -1.08019324,  -2.28019324, -14.78019324,   0.41980676,
        -8.58019324,  17.01980676,  12.21980676, -13.28019324,
        15.01980676, -18.88019324, -13.28019324,   4.21980676,
        40.01980676,   4.81980676,   3.61980676, -10.68019324,
         4.01980676,  -0.48019324,  11.81980676, -11.08019324,
       -19.38019324,  -0.28019324,  -4.88019324,   4.51980676,
        -6.68019324,   0.11980676,  24.11980676,  -1.28019324,
       -14.38019324, -18.78019324, -25.18019324, -22.38019324,
         1.61980676,   0.41980676, -15.18019324,  -1.48019324,
        -2.38019324,  -7.08019324,  -1.68019324,  12.41980676,
         4.91980676,  -0.98019324,  15.51980676,   8.61980676,
         3.21980676,  -0.08019324,  -7.18019324, -26.78019324,
        15.71980676,   9.01980676,   4.31980676,  -9.38019324,
       -12.28019324,  -6.68019324,  -7.88019324,  22.71980676,
         7.31980676,   6.91980676,   7.11980676, -13.28019324,
         9.11980676,  25.31980676,   2.01980676,  10.01980676,
        -4.88019324,  -8.48019324, -13.18019324, -17.08019324,
         5.11980676, -15.18019324,   4.11980676,  13.71980676,
         3.51980676,  14.21980676,  11.51980676, -14.18019324,
        -7.48019324,  18.81980676,  -0.58019324,  31.71980676,
        15.31980676,   9.31980676,  -8.68019324,   2.31980676,
       -25.08019324,   8.61980676,  17.31980676, -12.38019324,
       -10.68019324,  29.71980676,   0.61980676,  -6.68019324,
        -2.68019324,   2.31980676, -13.28019324,   4.51980676,
        -6.08019324,  -5.78019324, -14.98019324,  -0.68019324,
        -2.48019324, -10.28019324,  -9.48019324,   1.71980676,
         3.21980676,  -0.78019324,   2.51980676, -15.68019324,
        -9.88019324, -22.58019324,  12.01980676,   2.61980676,
        14.51980676,  25.91980676])

In [25]:
X = X.to_numpy()

In [26]:
X.shape

(414, 7)

In [27]:
b = np.dot(np.dot(inv(np.dot(X.T, X)), X.T), y)

In [28]:
b

array([-1.21916366e-12,  5.14622746e+00, -2.69695448e-01, -4.48746107e-03,
        1.13327690e+00,  2.25472976e+02, -1.24236012e+01])

In [29]:
predict = X[44]@b.T
predict

9.69014169678615

In [30]:
df.loc[44]

New                                         1.000000
X1 transaction date                         0.434029
X2 house age                              -15.012560
X3 distance to the nearest MRT station   -550.409489
X4 number of convenience stores            -0.094203
X5 latitude                                 0.005420
X6 longitude                                0.014289
Y house price of unit area                 15.919807
Name: 44, dtype: float64